@model HRProjectBoost.DTOs.DTOs.Manager.ManagerDetailsDto
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutManager.cshtml";
}
<section class="section profile">
    <div class="card">
        <div class="card-body pt-2 ">
            <div class="tab-content pt-2">
                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                    <h5 class="card-title">Profile Details</h5>
                    <div class="row">
                        <div class="d-inline col-md-6">
                            <div class="row">
                                <div class="label col-md-4">Name:</div>
                                <div class="col-md-4">@Model.Name</div>
                            </div>
                            <div class="row">
                                <div class="label col-md-4">Second Name:</div>
                                <div class="col-md-4">@Model.SecondName</div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 label">Lastname:</div>
                                <div class ="col-md-4">@Model.LastName
                            </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 label">Second Lastname:</div>
                                <div class="col-md-4">@Model.SecondLastName</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 label">Phone Number:</div>
                                <div class="col-md-4">@Model.PhoneNumber</div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 label">Email:</div>
                                <div class="col-md-4">@Model.Email</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 label">Birth Date:</div>
                                <div class="col-md-4">@Model.BirthDate</div>
                            </div>
                        </div>

                        <div class="d-inline col-md-6">
                            <div class="row">
                                <div class="col-md-4 label">Birth City:</div>
                                <div class="col-md-4">@Model.BirthCity</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 label">Identity Number:</div>
                                <div class="col-md-4">@Model.IdentityNumber</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 label">Start Date:</div>
                                <div class="col-md-4">@Model.StartDate</div>
                            </div>
                            @if (Model.Status == HRProjectBoost.Entities.Enums.Status.Inactive)
                            {
                                <div class="row">
                                    <div class="col-md-4 label">End Date:</div>
                                    <div class="col-md-4">@Model.EndDate</div>
                                </div>
                            }
                            <div class="row">
                                <div class="col-md-4 label">Company Info:</div>
                                <div class="col-md-4">@Model.CompanyInfo</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 label">Job:</div>
                                <div class="col-md-4">@Model.Job</div>
                            </div>
                            <div class="row">
                                <div class=" col-md-4 label">Department:</div>
                                <div class="col-md-4">@Model.Department</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 label">Address:</div>
                                <div class="col-md-4">@Model.Address</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</section>


